
<div class="">
    <div class="card-body">
  
            <h4 class="card-title headingMain ">~ Upload Your Activity Image ~</h4>
    
<!-- 
     <form action="/activity-image-upload.component.html" onsubmit="myFunction()">
      <input type="file" name="pic" accept="C:/Users/User/Pictures/Screenshots/*"><br>
      <input type="submit" value="Submit">
     </form>

         -->

         <div class="form-group">
          <label for="file">Choose File</label>
          <input type="file"
                 id="file"
                 (change)="handleFileInput($event.target.files)">
      </div>
    </div>
  </div>