.headingMain{
    text-align: center;
    padding: 20px;
    font-weight: 200;
    font-size: 2.5rem;
}

*{ margin: 10; padding: 10; }
body{ 
	background-color: #37474F; 
	font-family: Arial, sans-serif;
	padding: 15px;
}
