
<div class="">
    <div class="card-body">
  
            <h4 class="card-title headingMain ">~ Upload Your Dmn Image -_- ~</h4>
<!--     
  <form action="/activity-image-upload.component.html" onsubmit="myFunction()">
      <input type="file" name="pic" accept="image/*"><br>
      <input type="submit" value="Submit">
    </form>
          -->
    <div id="userActions">
        <p>Drag &amp; Drop Image</p>
        <input type="file" id="fileUpload" />
    </div>
    <img id="imgPrime" src="" alt="uploaded image placeholder" />
                
    </div>
  </div>