.mainHeading{
    margin: 70px 0px 40px 0px;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    color: honeydew;
}

.sideImage{
    width: 70%;
    margin-bottom: -32px;
}
.row{
    background-image: url("https://media1.giphy.com/media/BHNfhgU63qrks/source.gif");
    background-repeat: repeat;
    background-size: 100%;
   width: 100%;
   height: 1000%;
}