<div class="">
  <div class="card-body">
      
          <h4 class="card-title headingMain">~Question Page ~</h4>


    <h1>Quiz on Important Facts</h1>
    <div class="quiz-container">
      <div id="quiz"></div>
      
      <p>{{activity.Questions.Questiontitle[0]}}</p>
      <p>{{activity.Questions.Answers[0]}}</p>
     
      
      
       
    </div>


  
  <button id="previous">Previous Question</button>
  <a href="activity-end.component.ts">Next Question</a>
  <button id="next">Next Question</button>
  <button id="submit">Submit Quiz</button>
  <div id="results"></div> 
</div>
</div> <!-- End div-class -->

<script>
<button type="button" onclick="document.write(5 + 6)">Try it</button>

</script>

