.headingMain{
    text-align: center;
    padding: 20px;
    font-weight: 200;
    font-size: 2.5rem;
}
.headingsmall{
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 150;
    font-size: 2.5rem;
}

.img{
    text-align: center;
    width: 100%;
    
}