.mainHeading{
    margin: 20px 0px 40px 0px;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    color: honeydew;
}
.dashboardComponent{
    margin: 10px 0px 0px ,0px;
    
}

.container{
    /* background-image: url("https://media1.giphy.com/media/BHNfhgU63qrks/source.gif"); */
    background-color: #3b3251;
    /* background-repeat: no-repeat;
    background-size: 100%; */
}
