/* containers */
.container-fluid {
    background-color: whitesmoke;
    padding: 30px;
    padding-right: 30px;
    padding-left: px;
}

/* headings */
.mainHeading{
    font-weight: 400;
    padding: 20px;
    font-size: 3.6vmax;
   color: #3b3251;
}
